<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">

        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Portfolio Argentina Programa</h3>
            <p>La tarea fue realizar un portfolio completo, utilizando Angular como framework para diseñar el frontend, Springboot como framework para
                diseñar el backend y el uso de MySQL como base de datos.   
                <a href="https://github.com/Nati9/proyectoIntegrador_AP_EspinosaNatalia.git">Acceso al proyecto</a>
            </p>
            
        </div>

        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Proyecto introducción a Javascript y HTML</h3>
            <p>A lo largo del curso se nos otorgó tareas para completar y estas son algunas de las pedidas
                <a href="https://github.com/Nati9/CursoPoloTic.git">Acceso al proyecto</a>
            </p>
            
        </div>

        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Primer diseño de portfolio utilizando Angular</h3>
            <p>La tarea fue realizar un portfolio con algunas herramientas que nos fue brindada a lo largo del curso, como el uso de HTML y CSS para crear el front.
                <a href="https://github.com/Nati9/porfolio_angular.git">Acceso al proyecto</a>
            </p>
            
        </div>
        

    </div>
</div>
