<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/Logos/APLogo.png" id="logoAP">
        </div>
            <div class="redes">
                <a href=""> <img src="../../../assets/Logos/linkedin.png" alt=""></a>
                <a href=""> <img src="../../../assets/Logos/twitter.png" alt=""></a>
                <a href="https://github.com/Nati9"> <img src="../../../assets/Logos/github.png" alt=""></a>
                <a href="https://www.facebook.com/Natuu.espinosa"> <img src="../../../assets/Logos/facebook.png" alt=""></a>
                <a href="https://www.instagram.com/nati.espinosa27/"> <img src="../../../assets/Logos/instagram.png" alt=""></a>
                <button type="button" class="btn btn-outline-light"> Login </button>
            
            </div>
        
    </div>
</div>

